<div><%=@recipient_name%>,</div>

<div style="margin-top: 1em"><%=@sender_name%> has sent you an e-card from <b><a href="http://www.katemanson.co.uk/">www.katemanson.co.uk</a></b></div>

<hr />

<div><img style="display: block; margin: auto" src="http://www.katemanson.co.uk<%= @cartoon.artwork.url(:medium) %>" alt="Please enable images to see the cartoon"
  width=<%= @geometry.width.to_i %> height=<%= @geometry.width.to_i %>/>.</div>
<% unless @cartoon.caption.blank? %>
  <div style="margin-bottom: 1em; font-size: 0.8em; text-align:center"><%= @cartoon.caption %></div>
<% end %>

<hr />

<% @message.each_line do |line| %>
  <div><%=line.strip.chomp('\n')%></div>
<% end %>

<div style="margin-top: 3em; color: gray; font-size: 0.8em">All images copyright Kate Manson &copy;2009</div>
