<h1>Editing cartoon</h1>

<% form_for @cartoon, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= collection_select :cartoon, :category_id, Category.find(:all), :id, :name %>
  </p>
  <p>
    <%= f.label :artwork %><br />
    <%= image_tag @cartoon.artwork.url(:gallery) %><br />
    <%= f.file_field :artwork %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cartoon %> |
<%= link_to 'Back', cartoons_path %>
