<h1>Listing cartoons</h1>

<table>
  <tr>
    <th>Caption</th>
  </tr>

<% @cartoons.each do |cartoon| %>
  <tr>
    <td><%=h cartoon.caption %></td>
    <td><%= link_to 'Show', cartoon %></td>
    <td><%= link_to 'Edit', edit_cartoon_path(cartoon) %></td>
    <td><%= link_to 'Destroy', cartoon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cartoon', new_cartoon_path %>