<h1>Listing cartoons</h1>

<table>
  <tr>
    <th>Artwork</th>
    <th>Caption</th>
    <th>Category</th>
  </tr>

<% @cartoons.each do |cartoon| %>
  <tr>
    <td><%= link_to image_tag(cartoon.artwork.url(:thumb)), cartoon %></td>
    <td><%= link_to cartoon.caption, cartoon %></td>
    <td><%= link_to cartoon.category.name, category_path(cartoon.category) %></td>
    <td><%= link_to 'Edit', edit_cartoon_path(cartoon) %></td>
    <td><%= link_to 'Delete', cartoon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cartoon', new_cartoon_path %><br />
<%= link_to 'Manage categories', categories_path %>
