<% content_for :head do %>
  <% # Forgery protection from http://henrik.nyh.se/2008/05/rails-authenticity-token-with-jquery -%>
  <%= javascript_include_tag 'jquery.form', 'jquery.validate.pack' %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% end %>

<script type="text/javascript">
  $().ready(function() {
    $("#form").validate({
      submitHandler: function(form) {
        $(form).ajaxSubmit({
          target: "#result"
        });
      }
    });
  });

  $(document).ajaxSend(function(event, request, settings) {
    if (typeof(AUTH_TOKEN) == "undefined") return;
    settings.data = settings.data || "";
    settings.data += (settings.data ? "&" : "") + "authenticity_token=" + encodeURIComponent(AUTH_TOKEN);
  });
</script>

<h2>Send an e-card</h2>

<form class="ecard" id="form" method="post" action="<%= cards_path %>">
  <input name="cartoon_id" type="hidden" value="<%= params[:id] %>" />
  <div><%= image_tag Cartoon.find(params[:id]).artwork.url(:medium) %></div>
  <fieldset>
    <legend>Sender details</legend>
    <p>
      <label for="sender_name">Name</label>
      <input name="sender_name" class="required"/>
    </p>
    <p>
      <label for="sender_email">Email</label>
      <input name="sender_email" class="required email" />
      </p>
  </fieldset>
  <fieldset>
    <legend>Message</legend>
    <p>
      <label for="message">Message</label>
      <textarea name="message" class="required"></textarea>
    </p>
  </fieldset>
  <fieldset>
    <legend>Recipient details</legend>
    <p>
      <label for="recipient_name">Name</label>
      <input name="recipient_name" class="required"/>
    </p>
    <p>
      <label for="recipient_email">Email</label>
      <input name="recipient_email" class="required email" />
      </p>
  </fieldset>
  <p>
    <input class="submit" type="submit" value="Send this e-card"/>
    <div id="result"/>
  </p>


</form>
