<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cartoons</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.name, category %></td>
    <td><%=h category.cartoons.length %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <% if category.cartoons.empty? %>
      <td><%= link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category', new_category_path %>
<br />
<%= link_to 'Manage cartoons', cartoons_path %>
