<% content_for :head do %>
  <%= javascript_include_tag 'jquery.lightbox.min' %>
  <%= stylesheet_link_tag 'jquery.lightbox.packed' %>
  <script type="text/javascript">
    $(function(){
      $.Lightbox.construct({
        download_link: false,
        show_linkback: false,
        show_info: true
      });
    });
  </script>
<% end %>

<p>click on the thumbnails to enlarge</p>

<% Category.find(:all).each do |category| %>
  <h2><%= category.name %></h2>
  <div class="lightbox">
    <ul>
      <% category.cartoons.each do |cartoon| %>
        <li>
          <a rel="lightbox-<%= category.name %>" title="<%=h cartoon.caption %>" href="<%= cartoon.artwork.url(:medium) %>">
            <img src="<%= cartoon.artwork.url(:thumb) %>" />
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="clear" />
<% end %>
