<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Kate Manson : <%= @page_title %></title>
    <script src="http://www.google.com/jsapi"></script>
    <script>google.load("jquery", "1.3.2")</script>
    <%= javascript_include_tag 'menu' %>
    <%= stylesheet_link_tag 'default' %>
    <%= yield :head %>
  </head>
  <body>

    <div class="centered">
      <%= image_tag 'header.png', :alt => 'kate' %>

      <%= render :partial => "shared/menu" %>

      <div class="blackbox">
        <div class="content">
          <% if flash[:notice] %>
            <p style="color: green"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:warning] %>
            <p style="color: red"><%= flash[:warning] %></p>
          <% end %>
          <%= yield %>
          <div class="copyright">All images copyright Kate Manson &copy;2009</div>
        </div>
      </div>
    </div>

  </body>
</html>
